.container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto 2rem;
}

.flex-item {
  flex: 1 0 28%; /* explanation below */
  margin: 0.3rem;
  padding: 0.5rem 0;
  min-width: 10rem;
  min-height: 10rem;
  border: solid black 1px;
  background-color: white;
}

.content {
	margin-top: 0.3rem;
  padding: 0;
}

p {
  white-space: pre-wrap;
}

/* With a flex-basis of 28% there will be more than enough space for 3 items per line, but never enough for 4. */

h1 {
	font-size: 1.1rem;
}